@use 'variables' as *;


.icon-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 4px !important;
    float: right;
    margin-left: 10px;
}

fa-icon.gray {
    color: rgb(141, 141, 141);
}



.user-name-text {
    top: 50%;
    transform: translateY(-50%);
}

.text-button {
    width: 80px;
    height: 32px;
    padding: 0;
    float: right;
    border-radius: 4px !important;
}

.section-title {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 500;
}

.user-text-container {
    margin-left: .5rem;
}

.top-nav {
    height: 60px;
    background-color: $green-sheen;

    .row {
        height: 100%;
    }
    fa-icon {
        font-size: 1rem;
        transform: translateY(5px);
    }
}

.code-container {
    background-color: white;
    padding: 10px;
    width: 70%;
    margin: auto;
    transform: translateY(50%);
    border-radius: 5px;

    fa-icon {
        float: right;
    }

    input {
        width: auto;
        display: inline-block;
    }

    &.edit {
        padding-top: 7px;
        padding-bottom: 7px;
        fa-icon {
            line-height: 31px;
        }
    }
}

.code-row {
    background-color: $green-sheen;
}

img {
    width: 40px;
    border-radius: 100%;
}