<div class="container-fluid full-height position-relative" id="edit-page">
    <form [formGroup]="form" *ngIf="form" (submit)="onSubmit()">
        <div class="row top-nav">
            <div class="col-3 d-flex justify-content-left my-auto small">
                <div class="icon-container" (click)="onClickBack()">
                    <fa-icon class="d-block text-center" [icon]="faArrow"></fa-icon>
                    <span class="d-block">Back</span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center my-auto">
                <span style="font-size: large;">Party information</span>
            </div>
        </div>
        <div class="row code-row">
            <div class="col">
                <div class="code-container shadow align-self-center text-center" [class.edit]="codeEdit">
                    <div *ngIf="codeEdit">
                        <input class="form-control form-control-sm text-center" id="code" formControlName='code'
                            placeholder="code" />
                        <fa-icon (click)="codeEdit = false" [icon]="faCheck"></fa-icon>
                    </div>
                    <div *ngIf="!codeEdit">
                        <span class="text-center">{{ form.get('code')?.value }}</span>
                        <fa-icon class="gray" (click)="codeEdit = true" [icon]="faPen"></fa-icon>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="d-flex mb-2 justify-content-between">
                    <label for="description">Description</label>
                    <fa-icon *ngIf="!descriptionEdit" class="gray" (click)="descriptionEdit = true" [icon]="faPen">
                    </fa-icon>
                    <fa-icon *ngIf="descriptionEdit" class="gray" (click)="descriptionEdit = false" [icon]="faCheck">
                    </fa-icon>
                </div>

                <div class="description-container">
                    <span *ngIf="!descriptionEdit">
                        {{ form.get('description')?.value }}
                    </span>
                    <span class="light-dark-text" *ngIf="!descriptionEdit && !form.get('description')?.value">
                        No description has been given
                    </span>
                    <textarea *ngIf="descriptionEdit" class="form-control" id="description"
                        formControlName='description' placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <div class="row small mt-4">
            <div class="col" formArrayName="users">
                <p class="section-title">Users</p>
                <div class="list-container shadow">
                    <div class="list-item" [class.last]="last"
                        *ngFor="let user of users.controls; let i = index; let last = last" [formGroupName]="i">
                        <div class="row edit-container" *ngIf="userEditIndex === i">
                            <div class="col-7">
                                <input class="form-control form-control-sm" formControlName="name" placeholder="Name">
                            </div>
                            <div class="col">
                                <button type="button" class="icon-button danger float-right ml-3"
                                    (click)="onClickRemoveUser(i)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                                <button type="button" class="icon-button success float-right"
                                    (click)="onClickSaveUser()">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </button>

                            </div>
                        </div>
                        <div class="row view-container" *ngIf="userEditIndex !== i">
                            <div class="col-7 align-self-center">
                                <div class="user-text-container ml-2">
                                    <span class="user-name-text">{{ user.get('name')?.value }}</span>
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" class="danger icon-button float-right ml-3"
                                    (click)="onClickRemoveUser(i)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                                <button type="button" class="icon-button float-right" (click)="onClickEditUser(i)">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="users.controls.length === 0">
                    <div class="col">
                        <span>No users added</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">


                        <div class="button-container d-flex justify-content-between">
                            <button type="button" class="small" disabled (click)="onClickImportUsersFromParty()">Import
                                from party</button>
                            <button type="button" class="outline small" (click)="createNewUser()">Add user</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row small mt-4">
            <div class="col" formArrayName="beverages">
                <p class="section-title">Beverages</p>
                <div class="list-container shadow">
                    <div class="list-item" [class.last]="last"
                        *ngFor="let beverage of beverages; let i = index; let last = last">
                        <div class="row">
                            <div class="col d-flex align-self-center">
                                <div class="image-container d-inline">
                                    <img *ngIf="!beverage.pictureBase64String"
                                        src="../../../assets/stock-profile.jpg" />
                                    <img *ngIf="beverage.pictureBase64String" [src]="beverage.pictureBase64String" />
                                </div>
                                <div style="flex: 1" class="text-container align-self-center ml-2 d-inline">
                                    <span style="margin-left: 10px;">{{ beverage.name }}</span>
                                </div>
                                <button type="button" class="danger icon-button float-right align-self-center"
                                    (click)="onClickRemoveBeverage(i)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="beverages.length === 0">
                    <div class="col">
                        <span>No beverages added</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="button-container d-flex justify-content-end">
                            <button type="button" class="outline small" (click)="onClickAddBeverage()">Add
                                Beverage</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row small mt-4">
            <div class="col" formArrayName="robots">
                <div class="row list-item" *ngFor="let robot of robots; let i = index">
                    {{ robot.name }}
                </div>
                <div class="row" *ngIf="robots.length === 0">
                    <div class="col">
                        <span>No robots added</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" (click)="onClickAddRobot()">Add robot</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
</div>