@use 'variables' as *;

.container-fluid {
    padding: 30px;
}

.user-rank {
    color: $green-sheen;
    font-weight: bolder;
    font-size: 1.1rem;
}

.order-count {
    color: $green-sheen;
    font-weight: bolder;
    font-size: 1.1rem;
}