<div class="main-container background-white position-relative">
    <div class="container">
        <div class="step-container" *ngIf="currentStep == 1">
            <div class="row py-2 border-bottom mb-3">
                <div class="col title">
                    Dimension
                </div>
            </div>
            <form [formGroup]="forms[1]">
                <p>Tell us how large the place is that the B.I.E.R will be accessing.<br>
                    This place has to contain the following:<br>
                    -   The fridge.<br>
                    -   Places you want the beverage to be delivered.<br>
                    -   All the places in between.<br>
                </p>
                <div class="row pb-5">
                    <div class="col-6">
                        
                        <label for="validationCustomUsername">Width</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">cm</span>
                            </div>
                            <input type="number" class="form-control" id="x" formControlName="x" placeholder="enter" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Not a correct value
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="validationCustomUsername">Height</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">cm</span>
                            </div>
                            <input type="number" class="form-control" formControlName="y" id="y" placeholder="enter" aria-describedby="inputGroupPrepend2" required>
                            <div class="invalid-feedback">
                                Not a correct value
                            </div>
                        </div>
                    </div>
                </div>
                <p>Chose the accuracy you want the 2d space to be drawn in.
                    The numbers entered above  will be rounded to the chosen accuracy.
                </p>
                <div class="row">
                    <div class="col-6">
                        <label for="validationCustomUsername">Accuracy</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                            </div>
                            <select placeholder="select" class="form-control selectpicker" data-live-search="true" aria-describedby="inputGroupPrepend3"
                                formControlName="accuracy">
                                <option value="" disabled selected>select</option>
                                <option  value="5" selected>5</option>
                                <option  value="10">10</option>
                                <option  value="20">20</option>
                            </select>
                            <div class="invalid-feedback">
                                Not a correct value
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="step-container  h-100" *ngIf="currentStep == 2">
            <div class="row py-2 border-bottom mb-3">
                <div class="col title">
                    Edit Space
                </div>
            </div>
            <form [formGroup]="forms[2]">
                <div id="space-container" class="w-100">
                    <div class="space-row" tabindex="-1"  *ngFor="let row of this.forms[2].get('space').value.spaceItems; index as y;" [style.height]="tileSize">
                        <div class="tile empty" [ngClass]="{'column-10': (x + 1)%10 == 0 && x !== 0, 'row-10': (y + 1)%10 == 0 && y !== 0}" [id]="x + '-' + y" *ngFor="let col of row; index as x;" [style.width]="tileSize" [style.height]="tileSize">

                        </div>
                    </div>
                </div>
            </form>
            <div class="legend-container row">
                <div class="col-4">
                    <div class="option-container" [ngClass]="{'selected': currentTypeSelected == 'empty'}" (click)="onSelectType('empty')">
                        <div class="pallet empty"></div>
                        <div class="text-center"><p>Empty</p></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="option-container" [ngClass]="{'selected': currentTypeSelected == 'not-empty'}" (click)="onSelectType('not-empty')">
                        <div class="pallet not-empty"></div>
                        <div class="text-center"><p>Not-empty</p></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="option-container" [ngClass]="{'selected': currentTypeSelected == 'door'}" (click)="onSelectType('door')">

                        <div class="pallet door"></div>
                        <div class="text-center"><p>Door</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-nav">
            <div class="section-footer" *ngIf="currentStep != 1">
                <button class="btn btn-secondary float-left" (click)="lastStep()">step back</button>
            </div>
            <div class="section-footer">
                <button class="btn btn-secondary float-right" [disabled]="forms[currentStep].status !== 'VALID'" (click)="nextStep()">next step</button>
            </div>
        </div>
    </div>
</div>
