@import '../../../styles.scss';

.footer-nav{
    position: fixed;
    bottom: calc(20px + #{$footer-height});
    width: 90%;
    
}

.main-container{
    color: $font-color-secondary;
    font-weight: 300;
    overflow: auto
}



.title{
    font-size: 2em;
    font-weight: 400;
}

.tile{
    height: 20px;
    width: 20px;
    display: inline-block;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.space-row{
    line-height: 0;
}

.empty{
    background-color: rgb(100,100,100);
    border-bottom: 1px rgb(150, 150, 150) solid;
    border-right: 1px rgb(150, 150, 150) solid;
}

.not-empty{
    background-color: rgb(228, 43, 43);
    border-bottom: 1px rgb(255, 43, 43) solid;
    border-right: 1px rgb(255, 43, 43) solid;
}

.door{
    background-color: rgb(22, 160, 52);
    border-bottom: 1px rgb(22, 200, 52) solid;
    border-right: 1px rgb(22, 200, 52) solid;
}

#space-container{
    touch-action: pinch-zoom;
    margin-bottom: 150px;
}



.legend-container{
    position: fixed;
    bottom: calc(70px + #{$footer-height});
    width: 87%;
}

.option-container{
    p{
        display: inline-block;
        line-height: 5vw;
    }

    .pallet{
        width: 5vw;
        height: 5vw;
        margin: auto;
    }

    
}

.selected{
    .pallet{
        border: 3px solid rgb(80,80,80)
    }
}


.column-10{
    border-right: 1px solid rgb(40, 40, 40);
}

.row-10{
    border-bottom: 1px solid rgb(40, 40, 40);
}