<div class="container-fluid full-height position-relative" id="order-detail-page">
    <div class="row top-nav">
        <div class="col-3 d-flex justify-content-left my-auto small">
            <div class="icon-container" (click)="onClickBack()">
                <fa-icon class="d-block text-center" [icon]="faArrow"></fa-icon>
                <span class="d-block">Back</span>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center my-auto">
            <span style="font-size: large;">Order information</span>
        </div>
    </div>
    <div class="row code-row">
        <div class="col">
            <div class="order-status-label shadow" [class]="order ? order.status : 'new'">
                <span>{{ order ? order.status : 'new' }}</span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p class="section-title">Map</p>
            Edit / of live tracking
        </div>
    </div>
    <div class="row small mt-4">
        <div class="col">
            <p class="section-title">Beverage</p>
            Pick of laten zien
        </div>
    </div>
    <div class="row small mt-4">
        <div class="col">
            <p class="section-title">Time</p>
            Time order placed
        </div>
    </div>
</div>