@use 'variables' as *;;


#orders-container {
    padding: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column;
    height: 100%;
}


.accepted-order-item {
    padding: 30px;
    border: 1px solid #bbb;
    border-radius: 10px;
    text-align: center;

    &.no-orders {
        color: #aaa;
    }
}

.pending-order-item {
    background-color: #bbb;
}

h6 {
    margin: 0;
}

.bottom-part {
    flex: 0;
}

.middle-part {
    flex: 1;
}

.top-part {
    flex: 0;
}