<div id="orders-container" class="container-fluid">
    <div class="row top-part">
        <div class="col">
            <div class="row accepted-order-item" *ngFor="let order of acceptedOrders">
                <div class="col">
                    <h6>Your order is being handled by <span class="clickable-text">{{ '' }}.</span></h6>
                </div>
            </div>

            <div class="row accepted-order-item no-orders" *ngIf="acceptedOrders.length === 0">
                <div class="col">
                    <h6>No accepted orders.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row middle-part">
        <div class="col">
            Currently <span class="queue-amount">{{ pendingOrders.length }}</span> orders in the queue.
            <div class="row pending-order-item" *ngFor="let order of pendingOrders">
                <div class="col">
                    {{ order.user.name }}
                </div>
                <div class="col">
                    {{ order.beverage.name }}
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-part">
        <div class="col text-center">
            <button class="add-item">
                <fa-icon class="add-icon" (click)="onClickNewOrder()" [icon]="faAdd"></fa-icon>
            </button>
        </div>
    </div>
</div>