<div id="beverages-container" class="container-fluid">
    <div class="row top-part">
        <div class="col">
            <div class="list-container shadow">
                <div class="list-item" (click)="onClickBeverage(beverage.id)" [class.last]="last"  *ngFor="let beverage of beverages; let last = last">
                    <div class="row">
                        <div class="col d-flex justify-content-left">
                            <div class="image-container">
                                <img *ngIf="!beverage.pictureBase64String" src="../../../assets/stock-profile.jpg"/>
                                <img *ngIf="beverage.pictureBase64String" [src]="beverage.pictureBase64String" />
                            </div>
                            <div class="text-container">
                                <span>{{ beverage.name }}</span>
                            </div>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-part">
        <div class="col text-center">
            <button (click)="onClickAddBeverage()" class="add-item"><fa-icon class="add-icon" [icon]="faAdd"></fa-icon></button>
        </div>
    </div>
</div>
