<div class="main-container">
    <div class="footer-container text-center">
        <div class="section-container">
            <button mat-icon-button class="section" (click)="goToHome()">
                <mat-icon class="header-icon">home</mat-icon>
                <p>Home</p>
            </button>
        </div>
        <div class="section-container">
            <button mat-icon-button class="section" (click)="goToEdit()">
                <mat-icon class="header-icon">create</mat-icon>
                <p>Edit</p>
            </button>
        </div>
    </div>
</div>