@import '../../../styles.scss';

.main-container{
    position: fixed;
    width: 100vw  !important;
    height: $footer-height;
    top: calc(100vh - #{$footer-height});
    background-color: rgba($primary-color, 0.3);
}

.section-container{
    display: inline-block;
    width: 50%;
}

.section{
    width: 100%;
    height: $footer-height;
}

p{
    margin:0;
    line-height: 10px;
}