$middle-blue-green: #82d4bbff;
$eton-blue: #82c09aff;
$green-sheen: #82ac9fff;
$light-slate-gray: #829298ff;
$mountbatten-pink: #94778bff;


$text-error: rgb(148, 58, 58);

$text-color-dark: #444;

$text-color-light: #f6f6f6;

$button-dark: #444;

$button-light: #f6f6f6;