@import "variables";

html, body { height: 100% }

/* You can add global styles to this file, and also import other style files */
body {
  
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $text-color-dark;
}

.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

main {
  text-align: center;
  position: relative;
}

/* Button styles */

button {
  border: none;
  border-radius: 10px !important;
  max-width: 400px;
  font-size: large;
  font-weight: 500;
  padding: 10px 0;
  transition: all .1s ease-in-out;

  &.danger {
    color: $text-color-light;
    background-color: $text-error;
  }

  &.success {
    color: $text-color-light;
    background-color: $text-success;
  }

  &.outline {
    background-color: white;
    border: 2px $green-sheen solid;
  }

  &.small {
    font-size: small;
    padding: 5px 10px;
  }
}

button:focus {
  opacity: 80%;
  border: none;
  box-shadow: none;
  &.outline {
    border: 2px $green-sheen solid;
  }
}

button:hover {
  opacity: 80%;
  box-shadow: none;
  border: inherit;
  &.outline {
    border: 2px $green-sheen solid;
  }
}

button:disabled {
  box-shadow: none;
  opacity: 60%;
  border: inherit;
  &.outline {
    border: 2px $green-sheen solid;
  }
}

.light-dark-text {
  color: #888;
}

button.add-item {
  color: $text-color-light;
  border-radius: 100% !important;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green-sheen;
  box-shadow: 1px 9px 25px -13px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 9px 25px -13px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 9px 25px -13px rgba(0,0,0,0.3);
  float: right;
}

#edit-page {
  padding: 0;
  overflow-x: hidden;

  background-color: $text-color-light;

  form > .row {
    padding: 0 30px;
  }
}

.shadow {
  box-shadow: 1px 9px 25px -13px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 9px 25px -13px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 9px 25px -13px rgba(0,0,0,0.3);
}


.list-item {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    &.last {
        border-bottom: 0;
    }
}

.code-status-badge {
  padding: 3px 5px;
  border-radius: 8px;
  font-size: small;
  &.active {
    background-color: $text-success;
    color: $text-color-light;
  }

  &.disabled {
    background-color: #ccc;
  }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
