/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    position: relative;
  }



  

:root{
    --primary-color: rgb(87, 48, 64);
    --secondary-color: rgb(255, 255, 255);
    --accent-color: rgb(148, 90, 90);
    
  }
