
<div id="bottom-nav" class="container-fluid" *ngIf="navState">
    <div class="row position-relative" *ngIf="!isCreator">
        <div class="spotlight" [ngClass]="['position' + getBottomRoutesLocation(navState.currentLocation)]">
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.HOME)" [class.selected]="bottomRoutes.HOME === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faHome"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Home
                </div>
            </div> 
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.ORDERS)" [class.selected]="bottomRoutes.ORDERS === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faOrders"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Orders
                </div>
            </div>
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.RANKINGS)" [class.selected]="bottomRoutes.RANKINGS === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faRanking"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Ranking
                </div>
            </div>
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.PROFILE)" [class.selected]="bottomRoutes.PROFILE === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faProfile"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Profile
                </div>
            </div>
        </div>
    </div>
    <div class="row position-relative" *ngIf="isCreator">
        <div class="spotlight" [ngClass]="['position' + getBottomRoutesLocation(navState.currentLocation)]">
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.CREATOR_CODES)" [class.selected]="bottomRoutes.CREATOR_CODES === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faCodes"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Parties
                </div>
            </div> 
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.CREATOR_BEVERAGES)" [class.selected]="bottomRoutes.CREATOR_BEVERAGES === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faBeverages"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Beverages
                </div>
            </div>
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.CREATOR_WAITERS)" [class.selected]="bottomRoutes.CREATOR_WAITERS === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faWaiters"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Waiters
                </div>
            </div>
        </div>
        <div class="col item-container" (click)="navigateTo(bottomRoutes.CREATOR_MAPS)" [class.selected]="bottomRoutes.CREATOR_MAPS === navState.currentLocation">
            <div class="icon-container">
                <fa-icon [icon]="faMaps"></fa-icon>
            </div>
            <div class="text-container">
                <div class="text-content">
                    Maps
                </div>
            </div>
        </div>
    </div>
</div>