<div id="codes-container" class="container-fluid">
    <div class="row top-part">
        <div class="col">
            <div class="row" *ngFor="let code of codes" (click)="onClickCode(code.id)">
                <div class="col">
                    <div class="code-item shadow">
                        <div class="row">
                            <div class="col-8">
                                <span class="code-text d-block">{{ code.code }}</span>
                                <span class="description-text">{{ code.description ? code.description : 'No description given'}}</span>
                            </div>
                            <div class="col-4">
                                <span style="float: right;" class="code-status-badge" [class]="code.active ? 'active' : 'disabled'">Active</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-part">
        <div class="col text-center">
            <button (click)="onClickAddCode()" class="add-item shadow"><fa-icon class="add-icon" [icon]="faAdd"></fa-icon></button>
        </div>
    </div>
</div>