@import '../../../styles.scss';

.header-container{
    height: $header-height;
    top: 0;
    font-size:30px;
}

.section-container{
    display: inline-block;
    width: 50%;

}

.section{
    width: 100%;
    height: $header-height;
}

.logout{
    width: 150px;
    float: right;
    p{
        margin:0;
        line-height: 10px;
    }
}

.title{
    float: left;
    text-align: left;
    font-size: 20px;
    line-height: $header-height;
    padding-left: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
