@use 'variables' as *;

.description {
    color: #999;
    font-size: .8rem;
}

#top-nav {
    height: 60px;
    color: #777;
}

.row {
    height: 100%;
}

.icon-container {
    text-align: center;
    font-size: .8rem;

    fa-icon {
        font-size: 1rem;
        transform: translateY(5px);
    }
}

.icon-container:active {
    color: $text-color-dark;
}