<div id="top-nav" class="container-fluid">
    <div class="row">
        <div class="col-3 d-flex justify-content-center my-auto">
            <div class="icon-container">
                <fa-icon (click)="goToUsers()" class="mr-2 d-block" [icon]="faUserChange"></fa-icon>
                <span class="d-block">Change</span>
            </div>

        </div>
        <div class="col d-flex justify-content-center my-auto">
            <span class="description"> Product by JJ and Yoran</span>
        </div>
        <div class="col-3 d-flex justify-content-center my-auto">
            <div class="icon-container">
                <fa-icon (click)="logout()" class="mr-2 d-block" [icon]="faExit"></fa-icon>
                <span class="d-block">Exit</span>
            </div>
           
        </div>
    </div>
</div>




