<div class="container">
    <div class="row header">
        <div class="col">
            <button mat-icon-button (click)="goBack()"><mat-icon class="header-icon">arrow_back</mat-icon></button>
        </div>
    </div>
    <div class="fluid-container mx-4 form-field">
        <form [formGroup]='changePasswordForm'>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <mat-form-field [ngStyle]="{'font-size.px': 17}" class="w-100">
                            <mat-label>New password</mat-label>
                            <input type="password" matInput color='text-primary' formControlName="oldPassword" id="old-password"
                                   placeholder="Password">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="form-group">
                        <mat-form-field [ngStyle]="{'font-size.px': 17}" class="w-100">
                            <mat-label>Old password</mat-label>
                            <input type="password" matInput color='text-primary' formControlName="newPassword" id="new-password"
                                   placeholder="Password">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <button type="button" class="btn btn-secondary w-100" >Save</button>
                </div>
            </div>
        </form>
    </div>
</div>