@import '../../../styles.scss';



::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $font-color-primary !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $primary-color !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: $font-color-primary!important;;
  }

  .form-field{
      margin-top: 20vh;
  }