


.col {
    text-align: center;
}
svg::after {
    transform: translateY(30px);
}

.container-fluid {
    background-color: lightslategray;
    height: 100vh;
    max-height: 100vh;
    display: flex;
  flex-direction: column;
    
}

.top-container {
    background-color: var(--primary-color);
    height: 0;



}

.bottom-container {
    background-color: var(--secondary-color);
    color: rgb(75, 74, 74);
    flex-grow: 1;
}

input {
    background: none;
    color: rgb(70, 69, 69);
    text-align: center;




    

    &.text-input {
        width: 80vw;
        margin: auto;
        padding: 10px;
        border-radius: 30px;
        border: var(--primary-color) solid 2px;
    }
}

input:focus {
    background: none;
    box-shadow: none;
}

input::placeholder {
    color: rgb(124, 124, 124);
}


button {
    background-color: rgb(49, 78, 116);
    width: 50vw;
    border-radius: 20px;
    border-color:rgb(63, 165, 102);
}

button:focus {
    background-color: rgb(49, 78, 116);
    width: 50vw;
    border-radius: 20px;
    border-color:rgb(63, 165, 102);
    box-shadow: none;
}

button::selection {
    background-color: rgb(108, 138, 177);
}

button:hover {
    background-color: rgb(108, 138, 177); 
}

button:disabled {
    background-color: rgb(108, 138, 177); 
}

.postion-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.position-relative {
    position: relative;
    
}



.danger {
    color:rgb(247, 3, 3)
}