@use "variables" as *;

#main-page {
    background-color: $text-color-light;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: $text-color-dark;
    padding: 0;
}

app-top-nav {
    flex: 0;
}

app-bottom-nav {
    flex: 0;
}


#content {
    flex: 1;
    position: relative;
}