<div class="main-container position-relative">
    <div class="rmv-p rmv-m order position-absolute">

        <div class="order-container">
            <button mat-icon-button type="button" class="order-button">
                <div class="icon">
                    <mat-icon class="mb-4">sports_bar</mat-icon>
                    <p>BEER</p>
                </div>
            </button>
        </div>
        <!-- <div class="row description">
            <div class="col text-center">
                <span>Order beer to a location</span>
            </div>
        </div> -->
    </div>
</div>
