<div class="container-fluid full-height position-relative" id="login-page">
    <div class="top-part container-fluid">

        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="text-container text-center">
                    <h5>Welcome to Project B.I.E.R</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src="../../assets/logo.svg"/>
            </div>
        </div>
    </div>
    <div class="switch-container">
        <div class="switch">

            <div class="switch-item" [class.selected]="loginJoinActive" (click)="onClickSwitchLeft()">
                <span class="text-container">
                    JOIN
                </span>
            </div>
            <div class="switch-item" [class.selected]="loginCreateActive" (click)="onClickSwitchRight()">
                <span class="text-container">
                    CREATE
                </span>
            </div>
            <div class="switcher" [class.left]="loginJoinActive" [class.right]="loginCreateActive"></div>
        </div>

    </div>
    <div *ngIf="!loginCreateActive" id="user-container" class="bottom-part container-fluid">
        <div class="row">
            <div class="col text-center">
                <span style="font-weight: 100;">Enter code below to join a party</span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center position-relative">
               
                <div class="input-container">
                    <input  placeholder="code" (keyup.enter)="onClickLoginCode()" (focus)="invalidCred = false" [(ngModel)]="code" class="form-control text-center" [type]="codeShown ? 'text' : 'password'"/>
                    <fa-icon *ngIf="code !== ''" class="eye-icon" [icon]="faEye" [class.selected]="codeShown" (click)="onClickShowCode()"></fa-icon>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button [disabled]="loading || code === ''" id="login-button" (click)="onClickLoginCode()">Gain access</button>
                <span *ngIf="invalidCred" class="error mt-2 d-block">Invalid code, please try again</span>
            </div>
        </div>
    </div>
    <div *ngIf="loginCreateActive" class="creator-container" class="bottom-part container-fluid">
        <div class="row">
            <div class="col text-center">
                <span style="font-weight: 100;">Login using email and password</span>
            </div>
        </div>
        <div class="row">
            <div style="flex-flow: column;" class="col d-flex justify-content-center position-relative">
               <div class="input-container d-flex justify-content-center mb-3">
                    <fa-icon [icon]="faEmail" class="input-icon"></fa-icon>
                    <input class="form-control email-input" [(ngModel)]="email" (input)="checkInputValid()" placeholder="email" type="text"/>
               </div>
               <div class="input-container">
                    <fa-icon class="input-icon" [icon]="faPassword"></fa-icon>
                    <input class="form-control password-input" [(ngModel)]="password" (input)="checkInputValid()" (keyup.enter)="onClickLoginCreator()" placeholder="password" type="password"/>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button [disabled]="loading || !creatorInputValid" id="login-button" (click)="onClickLoginCreator()">Login</button>
                <span *ngIf="invalidCred" class="error mt-2 d-block">Invalid credentials, please try again</span>
            </div>
        </div>
    </div>
</div>