@use "variables" as *;

.container-fluid {
    padding: 50px;
    color: $text-color-light;
}

button {
    color: $mountbatten-pink;
    background-color: $text-color-light;
}

.pin-container {
    width: 80%;
    max-width: 350px;
    color: $green-sheen;
}

.text-container {
    width: 90%;
    max-width: 400px;
}

input {
    border: none;
    border-bottom: $text-color-light 1px solid;
    background: none;
    border-radius: 0;
    width: 25px;
    color: $text-color-light;
    padding: 2px;
}

input:focus {
    border: none;
    border-bottom: $text-color-light 2px solid;
    background: none;
    border-radius: 0;

    box-shadow: none;
    color: $text-color-light;
}

input:disabled {
    border: none;
    border-bottom: rgba(255,255,255,.2) 1px solid;
    background: none;
    border-radius: 0;

    box-shadow: none;
    color: $text-color-light;
}

img {
    width: 120px;
    height: 120px;
}

#login-page {
    background-color: $mountbatten-pink;
    display: flex;
flex-direction: column;
justify-content: space-around;
}

.bottom-part {
    padding-bottom: 60px;
}

.project-title {
    color: rgb(134, 57, 57);
}

.error {
    color: $text-error;
}