@use 'variables' as *;

.container-fluid {
    padding: 30px;
}

img {
    width: 120px;
    border-radius: 20px;
}

.name-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: $green-sheen;
}