<div class="container-fluid full-height" id="welcome-page">
    <div class="row top-part">
        <div class="col-3"></div>
        <div class="col d-flex justify-content-center my-auto">
            <span class="title">Please select a user</span>
        </div>
        <div class="col-3 d-flex justify-content-center my-auto">
            <div class="icon-container">
                <fa-icon (click)="onClickLogout()" class="mr-2 d-block" [icon]="faExit"></fa-icon>
                <span class="d-block">Exit</span>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-container position-relative">
                <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
                <input class="text-center form-control mt-2 mb-3" placeholder="name" [(ngModel)]="search" (input)="onFilterChange()"/>
            </div>
        </div>
    </div>
    <div class="row users-container" style="flex: 1">
        <div class="col ">
                <div class="row" *ngFor="let user of filteredUsers">
                    <div class="col">
                        <div class=" user-item d-flex" (click)="onClickUser(user.id)">

                            <img *ngIf="user.pictureBase64String" [src]="user.pictureBase64String"/>
                            <img *ngIf="!user.pictureBase64String" src="../../assets/stock-profile.jpg"/>
                            <div class="text-container d-inline-block">
                                <span style="display: block; font-weight: 500;">{{ user.name }}</span>
                                <span style="color: #888; font-size: 0.8rem; display: block;">"{{ user.moto ? user.moto : 'No moto' }}"</span>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class=" text-center" *ngIf="filteredUsers.length === 0">
                    <span style="opacity: 70%;">No users found</span>
                </div>
        </div>
    </div>

    <div class="row bottom-part">
        <div class="col">
            <button class="my-3" type="button" [disabled]="filteredUsers.length !== 0" (click)="onClickNewUser()">New user</button>
        </div>
    </div>

</div>